platform/msvc2008/include/
platform/msvc2008/lib/
platform/msvc2008/*.txt
platform/msvc2008/*.suo
extra/reshax/Release/
extra/reshax/Debug/
extra/reshax/resources.h
extra/reshax/resources.cpp
*.obj
*.o
*.dirstamp
*.m4
*.Po
*.dll
*.user
*.suo
**/Release*
**/Debug*
*.lib
*.ncb
*.exe
*.bat
platform/macosx/build
platform/macosx/love.xcodeproj/bill*
*.DS_Store
*.dylib
*.dmg*
demos
*.orig
platform/msvc2010/include/
platform/msvc2010/lib/
platform/msvc2010/*.txt
platform/msvc2010/*.suo
platform/msvc2010/*.sdf
platform/msvc2010/*.ipch
